extends ../layout/index
  
block content

  .container
    h1 Internal Server Error
    h5 The server encountered an internal error or misconfiguration and was unable to complete your request.
    h5 Please contact the server administrator at thuankiet12@gmail.com to inform them of the time this error occurred, and the actions you performed just before this error.
    h5 More information about this error may be available in the server error log.